- content_for :header do 
  = javascript_include_tag 'effects'
#login
  %h1
    You Must Login to Continue
  %p
    First time here?  
    %a{:href => "#first-time" }
      Scroll down
    to get your password and manage your event.
  - form_tag do
    %p
      %label{ :for => "login" }
        %b E-mail:
      %br/
      = text_field_tag 'email', @email
    %p
      %label{ :for => "password" }
        %b Password:
      %br/
      = password_field_tag 'password'
    %p
      = submit_tag 'Log in'
    = link_to_function 'Forgot your password?', visual_effect(:toggle_blind, 'remind')
  #remind{ :style => "display:none;" }
    %p Enter your e-mail address below and we will send you a link to reset your password.
    %p If you don't receive the requested password in your e-mail, check to see if it got trapped by a spam filter or got stuck in your "Junk E-Mail Folder"
    - form_tag '/account/forgot_password' do 
      - if @permalink
        = hidden_field_tag 'permalink', @permalink
      %p
        %label{ :for => "login" }
          %b E-mail:
        %br/
        = text_field_tag 'email'
      = submit_tag 'Send'
  %hr/
  %br/
  %h1 Want to Create an Account?
  = render :partial=>'signup_form'
